@import url("https://fonts.googleapis.com/css?family=IM Fell DW Pica");
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/smokeyBackground1024_1.png");
  /* background-color: black; */
  background-repeat: no-repeat;
  font-family: "IM Fell";
  background-position: center;
  background-size: cover;
  display: grid;
  overflow-x: scroll;
  grid-template-rows: auto auto;
}
.NavMenu {
  /* position: fixed; */
  width: 100%;
  height: 250px;
  display: grid;
  text-transform: uppercase;
  grid-template-columns: 10% 25% auto 25% 10%;
}

.NavItemMenuSections {
  font-size: 22px;
  margin: auto;
  color: white;
}
.NavItemMenuSections:hover {
  color: #f7941d;
  transform: scale(1.1);
  cursor: pointer;
}
button {
  cursor: pointer;
}
button:hover {
  background-color: #f7941d !important;
}
.AddMenu {
  width: 100%;
  height: auto;
  /* background-color: #000000; */
  margin: 5% auto;
  /* overflow-x: scroll; */
}
::placeholder {
  color: white;
  font-weight: 600;
}
.placeOrder::placeholder {
  color: black;
  font-weight: 600;
}
.BlazingImage {
  width: 250px;
  margin: 2% auto;
  cursor: pointer;
}
.form {
  margin: 2% auto;
  /* background: #f7941d; */
  width: 50%;
  height: auto;
  border-radius: 10px;
  padding-top: 10px;
  /* padding-bottom: 20px; */
}
.form > input {
  /* background-color: #000000; */
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  width: 80.5%;
  height: 40px;
  /* font-family: "Libre Caslon Text", Sans-serif; */
  font-weight: 400;
  font-size: 20px;
  color: white;
  /* margin-left: 75px; */
}
.form > select {
  /* background-color: #000000; */
  color: white;
  background: transparent;
  border: 1px solid white;
  width: 81% !important;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  font-family: "Libre Caslon Text", Sans-serif;
  font-weight: 400;
}
.form > button {
  width: 81% !important;
  height: 40px;
  /* background-color: #000000; */
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-family: "Libre Caslon Text", Sans-serif;
  font-weight: 400;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #000000; */
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Libre Caslon Text", Sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  cursor: pointer;
  background-color: #f7941d;
}
.NavItemMenuSectionsactive {
  color: #f7941d;
  font-size: 22px;
  margin: auto;
}
.Menu {
  width: 90%;
  height: 800px;
  margin: 0% auto;
  /* background-color: black; */
}
.menuNameImage {
  display: grid;
  grid-template-columns: auto;
  width: auto;
  height: auto;
  margin: 10px auto;
  cursor: pointer;
}
.itemName {
  color: #ffffff;
  font-size: 2em;
  font-weight: 500;
}

.items {
  display: grid;
  margin: 5% auto;
  /* grid-gap: 30px; */
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
.MenuImage {
  width: 98%;
  height: 200px;
  margin: 10% auto;
  border-radius: 15px;
}
.sectionImage {
  width: 300px;
  height: 200px;
  margin: 3% auto;
}
.Home {
  width: 100%;
  height: auto;
  /* background-color: #000000; */
  /* overflow-x: scroll; */
  /* padding: 20px; */
}

.ItemsSections {
  width: 90%;
  /* overflow-x: scroll; */
  height: auto;
  /* background-color: #202124; */
  /* border-radius: 10px; */
  margin: 0% auto;
  border: 0.5px solid white;
  padding-bottom: 20px;
  

}
.ItemsSections > h1 {
  color: #ffffff;
  font-family: "Libre Caslon Text", Sans-serif;
  font-size: 45px;
  font-weight: 500;
}

.HomeFoodItemName {
  width: 96%;
  /* height: 120px; */
  display: grid;
  margin: 10px auto;
  /* border-bottom: 4px solid white; */
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  
  /* grid-template-columns: 85% auto; */
}
.FuncButtons {
  width: 150px;
  height: 50px;
  /* color: #f7941d; */
  color: black;
  border: none;
  font-size: 20px;
  font-family: "Libre Caslon Text", Sans-serif;
  font-weight: 800;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid; */
}
.inputDetails {
  display: grid;
  grid-template-columns: auto;
  margin-top: -10px;
}
.ButtonsDiv {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
}
#input0,
.input0 {
  border: none;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 800;
  margin-bottom: 5px;
  /* width: 80%; */
  border-bottom: 1px solid;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.addMenuItems {
  margin-left: 0px !important;
}
label {
  color: #f7941d;
  /* float: left;
  text-align: left; */
  font-size: 25px;
}
.MenuItemsLabels {
  text-align: left;
}
.input01 {
  border: none;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 800;
  margin-bottom: 5px;
  /* float: right; */
  width: 90%;
  border-bottom: 1px solid;
  font-size: 25px;
  color: white;
}
.input0:nth-child(3) {
  font-size: 20px;
}
.extrasInput {
  width: 90%;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  /* border-radius: 10px; */
  margin-right: 10px;
  font-weight: 600;
  color: white;
  font-size: large;
}
@media only screen and (max-width: 800px) {
  text {
    display: none;
  }
  .menuNameImage {
    width: 150px;
    height: auto;
  }
  .MenuImage {
    width: 140px;
    height: 100px;
  }
  .items {
    grid-template-columns: auto auto;
    margin: 15% auto;
  }
  .Menu {
    height: 100vh;
  }
  .AddMenu {
    width: 100%;
    color: white;
  }
  .form > input,
  .form > select,
  .form > button {
    width: 80%;
    height: 30px;
  }
  .BlazingImage {
    width: 300px;
    margin: 12% auto;
    cursor: pointer;
  }
  .itemName {
    font-size: 25px;
  }
  li a {
    font-size: 20px;
  }
  .form {
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0% auto;
  }
  .BackItemsMenu {
    font-size: 25px;
    position: inherit;
    margin-bottom: 20px;
  }
  .ItemsSections {
    width: 96%;
    height: auto;
    border-radius: 4px;
  }
  #input0,
  .input0 {
    font-size: 17px;
    height: auto;
  }
  .input0:nth-child(3) {
    font-size: 12px;
  }
  .HomeFoodItemName {
    width: 90%;
    height: 100px;
    grid-template-columns: auto 25%;
  }
  .FuncButtons {
    width: 70px;
    height: 40px;
    font-size: 14px;
  }
  .ItemName {
    top: 65px !important;
    font-size: 30px !important;
  }
  .sectionImage {
    margin: 15% auto;
  }
  .Home {
    height: auto;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 50%;
  margin: auto;
}

.column {
  background-color: #ccc;
  padding: 10px;
  font-size: large;
  height: 50px;
  border-radius: 5px;
  border: none;
}
table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: large;
  height: 50px;
}
.log {
  color: white;
}
#save {
  float: right;
  min-width: 60px;
  border-radius: 5px;
  border: 2px solid #f7941d;
  height: 25px;
  font-weight: 600;
}
tr:nth-child(even) {
  background-color: #dddddd;
  color: black;
}

tr:nth-child(odd) {
  color: white;
}

.btnActiveOrders {
  background-color: #f7941d;
}

#SelectValue {
  border-radius: 5px;
  /* color: red; */
  height: 25px;
  font-weight: 600;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  width: 50%;
  max-height: 50%;
  margin: auto;
  border-radius: 30px;
  text-align: center;
}
.btnOrder {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(247, 148, 29);
  font-weight: 500;
  margin-left: 10px;
  margin-top: 30px;
  font-size: large;
}

.searchInputBox {
  position: relative;
  float: left;
  top: 20px;
  margin-top: 15px;
  margin-left: 30px;
}

.NextAndBackButton1 {
  float: left;
  width: 130px;
  height: 35px;
  position: relative;
  top: 30px;
  left: 10px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-size: large;
  background: transparent;
}

.NextAndBackButton2 {
  float: right;
  width: 130px;
  height: 35px;
  font-size: large;
  border-radius: 5px;
  position: relative;
  top: 30px;
  right: 10px;
  color: white;
  border: 1px solid white;
  background: transparent;
}

.img {
  width: 100px;
  height: 50px;
}

/* 
Store Menu 
*/

.StoreMenu {
  width: 100%;
  height: 100vh;
  margin: auto;
}

/* Driver Table */

.DriverTable {
  width: 80%;
  margin: auto;
  height: auto;
  margin-bottom: 40px;
}
.AccountHover:hover {
  color: #f7941d;
  transform: scale(1, 1);
}

.AccountHover {
  cursor: pointer;
  color: white;
  margin-block-start: 0.4em;
}
.DivAccountHover {
  width: 500px;
  height: 60px;
  border: 1px solid white;
  margin: 10px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100px auto;
  text-align: left;
}
.DivAccountHover:hover {
  border: 1px solid #f7941d;
  transform: scale(1, 1);
}
.Sales {
  font-size: 30px;
  color: #fff;
}

#SalesDatePicker {
  width: 250px;
  height: 50px;
  margin: auto;
  /* position: absolute; */
  left: 0;
  right: 0;
  border-radius: 10px;
  font-size: 30px;
}

.SalesText {
  color: white;
  font-size: larger;
}

.googleSearch {
  /* background-color: #000000; */
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  width: 80.5%;
  height: 40px;
  /* font-family: "Libre Caslon Text", Sans-serif; */
  font-weight: 400;
  font-size: 20px;
  color: white;
  /* margin-left: 75px; */
}
.css-yk16xz-control {
  background-color: none !important;
  background: transparent !important;
  width: 81% !important;
  margin: auto;
}
.css-1hwfws3 {
  color: white !important;
}
.css-1uccc91-singleValue {
  color: white !important;
}
.css-1pahdxg-control {
  width: 81% !important;
  margin: auto;
}
/* .css-26l3qy-menu{
  width: 81% !important;
  margin: auto !important;
}  */
