@import url("https://fonts.googleapis.com/css?family=IM Fell DW Pica");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/background2.jpg");
  /* background-color: black; */
  background-repeat: no-repeat;
  font-family: "IM Fell";
  background-position: center;
  background-size: cover;
  /* display: grid; */
  overflow: hidden;
  grid-template-rows: auto auto;
}
.sections {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeIcon {
  font-size: 30px;
  color: white;
  width: 98%;
  margin: 5px auto;
  text-align: right;
  cursor: pointer;
}
.NavMenu {
  /* position: fixed; */
  width: 25%;
  height: 99vh;
  /* display: flex; */
  text-transform: uppercase;
  border-radius: 10px;
  /* grid-template-columns: 10% 25% auto 25% 10%; */
  /* background-color: black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid white;
}
.AccountDiv {
  width: 100%;
}
.ClosedMenu {
  width: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.NavItemMenuSections {
  font-size: 22px;
  margin: 20px auto;
  color: white;
  width: 90%;
  height: 40px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.NavItemMenuSections:hover {
  color: #f7941d;
  /* transform: scale(1.1); */
  cursor: pointer;
}
button {
  cursor: pointer;
}
button:hover {
  background-color: #f7941d !important;
}
.AddMenu {
  width: 100%;
  height: auto;
  /* background-color: #000000; */
  margin: auto;
  /* overflow-x: scroll; */
}
::placeholder {
  color: white;
  font-weight: 600;
}
.placeOrder::placeholder {
  color: black;
  font-weight: 600;
}
.BlazingImage {
  width: 250px;
  margin: 2% auto;
  cursor: pointer;
}
.form {
  margin: 2% auto;
  /* background: #f7941d; */
  width: 50%;
  height: auto;
  border-radius: 10px;
  padding-top: 10px;
  /* padding-bottom: 20px; */
}
.form > input {
  /* background-color: #000000; */
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  width: 80.5%;
  height: 40px;
  /* font-family: "Libre Caslon Text", Sans-serif; */
  font-weight: 400;
  font-size: 20px;
  color: white;
  /* margin-left: 75px; */
}
.form > select {
  /* background-color: #000000; */
  color: white;
  background: transparent;
  border: 1px solid white;
  width: 81% !important;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  font-family: "Libre Caslon Text", Sans-serif;
  font-weight: 400;
}
option {
  background-color: #202020 !important;
}
.form > button {
  width: 81% !important;
  height: 40px;
  /* background-color: #000000; */
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-family: "Libre Caslon Text", Sans-serif;
  font-weight: 400;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #000000; */
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Libre Caslon Text", Sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  cursor: pointer;
  background-color: #f7941d;
}
.NavItemMenuSections.active {
  background: #f7941d;
  font-size: 22px;
  margin: 10px auto;
  /* height: 40px; */
  /* width: 100%; */
  border: 1px solid #f7941d;
}
.Menu {
  width: 90%;
  height: auto;
  margin: auto;
  /* background-color: black; */
}
.menuNameImage {
  display: grid;
  grid-template-columns: auto;
  width: auto;
  height: auto;
  margin: 10px auto;
  cursor: pointer;
}
.itemName {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 500;
}

.items {
  display: grid;
  margin: 5% auto;
  /* grid-gap: 30px; */
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
.MenuImage {
  width: 200px;
  height: 130px;
  margin: 5% auto;
  border-radius: 15px;
}
.sectionImage {
  width: 300px;
  height: 200px;
  margin: 3% auto;
}
.Home {
  width: 100%;
  height: auto;
  overflow: auto;
  /* background-color: #000000; */
  /* overflow-x: scroll; */
  /* padding: 20px; */
}

.ItemsSections {
  width: 90%;
  /* overflow-x: scroll; */
  height: auto;
  /* background-color: #202124; */
  /* border-radius: 10px; */
  margin: 0% auto;
  /* border: 0.5px solid white; */
  padding-bottom: 20px;
}
.ItemsSections > h1 {
  color: #ffffff;
  font-family: "Libre Caslon Text", Sans-serif;
  font-size: 45px;
  font-weight: 500;
}

.HomeFoodItemName {
  width: 96%;
  /* height: 120px; */
  display: grid;
  margin: auto;
  /* border-bottom: 4px solid white; */
  padding: 10px;
  text-align: left;
  border-radius: 10px;

  /* grid-template-columns: 85% auto; */
}
.FuncButtons {
  width: 50%;
  height: 50px;
  /* color: #f7941d; */
  color: black;
  border: none;
  font-size: 20px;
  font-family: "Libre Caslon Text", Sans-serif;
  font-weight: 800;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid; */
}
.inputDetails {
  display: grid;
  grid-template-columns: auto;
  margin-top: -10px;
}
.ButtonsDiv {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
}
#input0,
.input0 {
  border: none;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 800;
  margin-bottom: 5px;
  /* width: 80%; */
  border: 1px solid;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.addMenuItems {
  margin-left: 0px !important;
}
label {
  color: #f7941d;
  /* float: left;
  text-align: left; */
  font-size: 25px;
}
.MenuItemsLabels {
  text-align: left;
}
.input01 {
  border: none;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 800;
  margin-bottom: 5px;
  /* float: right; */
  width: 90%;
  border-bottom: 1px solid;
  font-size: 25px;
  color: white;
}
.input0:nth-child(3) {
  font-size: 20px;
}
.extrasInput {
  width: 90%;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  /* border-radius: 10px; */
  margin-right: 10px;
  font-weight: 600;
  color: white;
  font-size: large;
}
@media only screen and (max-width: 800px) {
  text {
    display: none;
  }
  .menuNameImage {
    width: 150px;
    height: auto;
  }
  .MenuImage {
    width: 140px;
    height: 100px;
  }
  .items {
    grid-template-columns: auto auto;
    margin: 15% auto;
  }
  .Menu {
    height: 100vh;
  }
  .AddMenu {
    width: 100%;
    color: white;
  }
  .form > input,
  .form > select,
  .form > button {
    width: 80%;
    height: 30px;
  }
  .BlazingImage {
    width: 300px;
    margin: 12% auto;
    cursor: pointer;
  }
  .itemName {
    font-size: 25px;
  }
  li a {
    font-size: 20px;
  }
  .form {
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0% auto;
  }
  .BackItemsMenu {
    font-size: 25px;
    position: inherit;
    margin-bottom: 20px;
  }
  .ItemsSections {
    width: 96%;
    height: auto;
    border-radius: 4px;
  }
  #input0,
  .input0 {
    font-size: 17px;
    height: auto;
  }
  .input0:nth-child(3) {
    font-size: 12px;
  }
  .HomeFoodItemName {
    width: 90%;
    height: auto;
    grid-template-columns: auto;
  }
  .FuncButtons {
    width: 50%;
    height: 40px;
    font-size: 14px;
  }
  .ItemName {
    top: 65px !important;
    font-size: 30px !important;
  }
  .sectionImage {
    margin: 15% auto;
  }
  .Home {
    height: auto;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 50%;
  margin: auto;
}

.column {
  background-color: #ccc;
  padding: 10px;
  font-size: large;
  height: 50px;
  border-radius: 5px;
  border: none;
}
table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
  margin-top: 30px;
  height: auto;
  /* border: 1px solid white;
  border-radius: 10px; */
}
.TableParentDiv {
  height: 60vh;
  overflow: auto;
  width: 100%;
}
tr:nth-child(1) > th,
tr:nth-child(1) {
  border: none;
  background-color: #333;
}
.CustomerViewBtn {
  width: 200px;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  font-size: large;
}
td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  font-size: medium;
  height: 50px;
}
.log {
  color: white;
}
#save {
  /* float: right; */
  min-width: 60px;
  border-radius: 5px;
  border: 2px solid #f7941d;
  height: 34px;
  font-weight: 600;
  width: 100px;
  margin-top: 5px;
}
tr {
  background-color: #ffffff;
  color: gray;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid;
}

tr:nth-child(1) {
  color: white;
}

.btnActiveOrders {
  background-color: #f7941d;
}

.SelectValue {
  border-radius: 5px;
  /* color: red; */
  height: 34px;
  font-weight: 600;
  border: 2px solid#f7941d;
  width: 100px;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  width: 50%;
  max-height: 50%;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  background-color: darkgray !important;
}
.btnOrder {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(247, 148, 29);
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
  font-size: large;
}

.searchInputBox {
  position: relative;
  float: left;
  top: 20px;
  margin-top: 15px;
  margin-left: 30px;
}

.NextAndBackButton1 {
  float: left;
  width: 130px;
  height: 35px;
  position: relative;
  top: 30px;
  left: 10px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-size: large;
  background: transparent;
}

.NextAndBackButton2 {
  float: right;
  width: 130px;
  height: 35px;
  font-size: large;
  border-radius: 5px;
  position: relative;
  top: 30px;
  right: 10px;
  color: white;
  border: 1px solid white;
  background: transparent;
}

.img {
  width: 100px;
  height: 50px;
}

/* 
Store Menu 
*/

.StoreMenu {
  width: 100%;
  height: 100vh;
  margin: auto;
}

/* Driver Table */

.DriverTable {
  width: 80%;
  margin: auto;
  height: auto;
  margin-bottom: 40px;
}
.AccountHover:hover {
  color: #f7941d;
  transform: scale(1, 1);
}

.AccountHover {
  cursor: pointer;
  color: white;
  margin-block-start: 0.4em;
}
.DivAccountHover {
  width: 500px;
  height: 60px;
  border: 1px solid white;
  margin: 10px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100px auto;
  text-align: left;
}
.DivAccountHover:hover {
  border: 1px solid #f7941d;
  transform: scale(1, 1);
}
.Sales {
  font-size: 30px;
  color: #fff;
}

#SalesDatePicker {
  width: 100%;
  height: 50px;
  margin: auto;
  /* position: absolute; */

  border-radius: 5px;
  font-size: 20px;
}

.SalesText {
  color: white;
  font-size: larger;
}

.googleSearch {
  /* background-color: #000000; */
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  width: 80.5%;
  height: 40px;
  /* font-family: "Libre Caslon Text", Sans-serif; */
  font-weight: 400;
  font-size: 20px;
  color: white;
  /* margin-left: 75px; */
}
.css-yk16xz-control {
  background-color: none !important;
  background: transparent !important;
  width: 81% !important;
  margin: auto;
}
.css-1hwfws3 {
  color: white !important;
}
.css-1uccc91-singleValue {
  color: white !important;
}
.css-1pahdxg-control {
  width: 81% !important;
  margin: auto;
}
/* .css-26l3qy-menu{
  width: 81% !important;
  margin: auto !important;
}  */
.CheckoutPlaceOrderHeader {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}
.Left {
  text-align: left;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.checkoutPlaceOrder {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  height: 50px;
  margin: 15px 15px;
  width: 160px;
  border-radius: 30px;
  border: none;
  font-size: larger;
  font-weight: bold;
  float: right;
}

.place-order-input {
  width: 70%;
  height: 35px;
  font-size: larger;
}
.place-order-label {
  margin-top: 20px;
}
.css-yk16xz-control {
  background-color: white !important;
}
.css-1uccc91-singleValue {
  color: black !important;
}

.customerViewInnerContent {
  width: 80%;
  height: 50vh;
  /* background-color: #f7941d; */
  margin: auto;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  font-size: larger;
}
.customerViewRows {
  color: white;
  border: 1px solid white;
  font-size: larger;
}
.customerColumns {
  width: 96%;
  height: 40vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(12, 40px);
  margin: auto;
}
.ordersExpand {
  color: white;
  position: relative;
  /* right: 100px; */
  right: -45%;
  top: -15px;
  cursor: pointer;
}
.ordersExpand2 {
  color: white;
  position: relative;
  /* right: 100px; */
  right: -45%;
  top: -15px;
  cursor: pointer;
  font-size: larger;
}
.ordersPageExpanded {
  background-image: url("./assets/smokeyBackground1024_1.png");
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  margin: auto;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  font-size: larger;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionColumnItemOrders {
  width: 200px;
  height: 40px;
  background-color: #f7941d;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}
.customerColumnsItems {
  /* border: 1px solid white; */
}
/* .OuterContentCustomerView {
  height: 99.5vh;
  position: absolute;
  background-image: url("./assets/smokeyBackground1024_1.png");
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: 1px solid white;
}

.OrdersCustomerView {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
} */
.OuterContentCustomerViewNotExpanded,
.OrdersCustomerView {
  width: 100%;
  height: 90vh;
}
.right {
  text-align: right;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.pRemoveMargins {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.pRemoveMargins:nth-child(1) {
  text-align: left;
}
.pRemoveMargins:nth-child(2) {
  text-align: right;
}
.MainSectionDiv {
  display: flex;
}
.HomeFoodItemDiv {
  width: 100%;
  height: 60vh;
  overflow: auto;
}
